.App {
  text-align: center;
}

.App-navbar {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/*.App-link {
  background-color: #61dafb;
  border: 2px solid white;
  border-radius: 12px;
}*/

.App-navbar {
  list-style-type: none;
}

.App-navbar li {
  float: left;
  padding: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery-thumbnail {
  margin: 5px;
  border: 5px groove silver;
  background-color: black;
  width: 250px;
  height: 200px;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery img {
  width: 100%;
  height: auto;
}

.App-footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}